<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>保健科室</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/health.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">保健科室</div>
    <div class="heade_back">返回</div>
</div>
<div class="health_bg"></div>
<div class="health_content">
    <div class="introduce">
        <div class="headline">科室介绍</div>
        <div class="introduce_cont">
            儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情
            儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情儿科内容详情
        </div>
    </div>
    <div class="doctor">
        <div class="headline">科室医生</div>
        <ul class="doctor_ul">
            <li class="doctor_li">
                <div class="doctor_img left"></div>
                <div class="doctor_xq left">
                    <div class="name">
                        <span>张是之</span>
                        <span>副主任医师</span>
                    </div>
                    <div class="point">从事牙科临床及保健工作20+年，擅长各类牙科保健</div>
                    <div class="specialist">专家门诊</div>
                </div>
                <div class="doctor_more right"></div>
            </li>
            <li class="doctor_li">
                <div class="doctor_img left"></div>
                <div class="doctor_xq left">
                    <div class="name">
                        <span>张是之</span>
                        <span>副主任医师</span>
                    </div>
                    <div class="point">从事牙科临床及保健工作20+年，擅长各类牙科保健</div>
                    <div class="specialist">专家门诊</div>
                </div>
                <div class="doctor_more right"></div>
            </li>
            <li class="doctor_li">
                <div class="doctor_img left"></div>
                <div class="doctor_xq left">
                    <div class="name">
                        <span>张是之</span>
                        <span>副主任医师</span>
                    </div>
                    <div class="point">从事牙科临床及保健工作20+年，擅长各类牙科保健</div>
                    <div class="specialist">专家门诊</div>
                </div>
                <div class="doctor_more right"></div>
            </li>
            <li class="doctor_li">
                <div class="doctor_img left"></div>
                <div class="doctor_xq left">
                    <div class="name">
                        <span>张是之</span>
                        <span>副主任医师</span>
                    </div>
                    <div class="point">从事牙科临床及保健工作20+年，擅长各类牙科保健</div>
                    <div class="specialist">专家门诊</div>
                </div>
                <div class="doctor_more right"></div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>