<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>选择就诊人</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/manage_people.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">选择就诊人</div>
    <div class="heade_back">返回</div>
</div>
<ul class="manage_ul">
    <li class="manage_li">
        <div class="manage_div01">
            <div class="manage_div01_top">
                <span class="left">张三</span>
                <span class="right">18588888888</span>
            </div>
            <div class="manage_div01_botm">身份证号：320381199012128642</div>
        </div>
        <div class="manage_div02">
            <div class="manage_checkbox left">
                <div class="left" datatype="1"></div>
                <div class="left infor_li_text">默认就诊人</div>
            </div>
            <div class="manage_compile left">
                <div class="left infor_li_compile"></div>
                <div class="left infor_li_text">编辑</div>
            </div>
            <div class="manage_delete left">
                <div class="left infor_li_delete"></div>
                <div class="left infor_li_text">删除</div>
            </div>
        </div>
    </li>
    <li class="manage_li">
        <div class="manage_div01">
            <div class="manage_div01_top">
                <span class="left">李四</span>
                <span class="right">18599999999</span>
            </div>
            <div class="manage_div01_botm">身份证号：320381199012128642</div>
        </div>
        <div class="manage_div02">
            <div class="manage_checkbox left">
                <div class="left" datatype="0"></div>
                <div class="left infor_li_text">默认就诊人</div>
            </div>
            <div class="manage_compile left">
                <div class="left infor_li_compile"></div>
                <div class="left infor_li_text">编辑</div>
            </div>
            <div class="manage_delete left">
                <div class="left infor_li_delete"></div>
                <div class="left infor_li_text">删除</div>
            </div>
        </div>
    </li>
    <li class="manage_li">
        <div class="manage_div01">
            <div class="manage_div01_top">
                <span class="left">王二麻</span>
                <span class="right">18566666666</span>
            </div>
            <div class="manage_div01_botm">身份证号：320381199012128642</div>
        </div>
        <div class="manage_div02">
            <div class="manage_checkbox left">
                <div class="left" datatype="0"></div>
                <div class="left infor_li_text">默认就诊人</div>
            </div>
            <div class="manage_compile left">
                <div class="left infor_li_compile"></div>
                <div class="left infor_li_text">编辑</div>
            </div>
            <div class="manage_delete left">
                <div class="left infor_li_delete"></div>
                <div class="left infor_li_text">删除</div>
            </div>
        </div>
    </li>
</ul>
<div class="infor_btn">添加就诊人</div>
</body>
</html>
<script src="../js/jquery.js"></script>
<script>
    $(function(){
        $('.manage_checkbox').each(function(){
            var $div = $(this).children("div:first-child");
            var code = $div.attr('datatype');
            if( code == 1 ){
                $div.addClass('infor_li_checkbox').removeClass('infor_li_checkbox_active');
            }else{
                $div.removeClass('infor_li_checkbox').addClass('infor_li_checkbox_active');
            }
        });
        $('.manage_checkbox').on('click',function(){
            var $div = $(this).children("div:first-child");
            var code = $div.attr('datatype');
            if( code == 1 ){
                $div.attr('datatype','0');
            }else{
                $div.attr('datatype','1');
            }
            $('.manage_checkbox').each(function(){
                var $div = $(this).children("div:first-child");
                var code = $div.attr('datatype');
                if( code == 1 ){
                    $div.addClass('infor_li_checkbox').removeClass('infor_li_checkbox_active');
                }else{
                    $div.removeClass('infor_li_checkbox').addClass('infor_li_checkbox_active');
                }
            });
        })
    });
</script>