<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>确认订单</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/confirm_order.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">确认订单</div>
    <div class="heade_back">返回</div>
</div>
<ul class="confirm_ul">
    <li class="confirm_li">
        <div class="confirm_li_left left"></div>
        <div class="confirm_li_center left">
            献爱心献爱心献爱心献爱心献爱心
            献爱心献爱心献爱心献爱心献爱心
        </div>
        <div class="confirm_li_right right">
            <div>￥0.99</div>
            <div>x2</div>
        </div>
    </li>
</ul>
<div class="Sub_total">
    <span>小计：</span>
    <span>￥1.98</span>
</div>
<div class="Mode">
    <div class="left">兑换方式</div>
    <div class="right">积分兑换</div>
</div>
</body>
</html>