<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>福利中心</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/welfare.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">福利中心</div>
    <div class="heade_back">返回</div>
</div>
<div class="swiper01">
    <div class="swiper-container banner" id="banner">
        <ul class="swiper-wrapper img-list" id="test">
            <li class="swiper-slide"><img src="../images/icon-54.png" alt=""/></li>
            <li class="swiper-slide"><img src="../images/icon-54.png" alt=""/></li>
            <li class="swiper-slide"><img src="../images/icon-54.png" alt=""/></li>
            <li class="swiper-slide"><img src="../images/icon-54.png" alt=""/></li>
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="make"></div>
<div class="activity">
    <div class="activity_head">
        <span class="left">近期活动</span>
        <span class="right"></span>
    </div>
    <div class="activity_bg box">
        <div class="flex-1 activity_bg01"></div>
        <div class="flex-1 activity_bg02"></div>
    </div>
</div>
<div class="lottery">
    <div class="activity_head">
        <span class="left">积分抽奖</span>
        <span class="right"></span>
    </div>
    <div class="lottery_bg"></div>
    <ul class="lottery_ul">
        <li class="lottery_li">
            <div class="lottery_li_left left"></div>
            <div class="lottery_li_right left">
                <div class="_li_top">
                    <div>公益活动献爱心</div>
                    <div>为孤寡老人口腔护理献爱心为孤寡老人口腔护理献爱心</div>
                </div>
                <div class="_li_bottom box">
                    <div class="flex-1">
                        <div class="_color01">305</div>
                        <div>需积分</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color02">295</div>
                        <div>已参与</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color03">295</div>
                        <div>剩余</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="lottery_li">
            <div class="lottery_li_left left lottery_li_left_bg"></div>
            <div class="lottery_li_right left">
                <div class="_li_top">
                    <div>公益活动献爱心</div>
                    <div>为孤寡老人口腔护理献爱心为孤寡老人口腔护理献爱心</div>
                </div>
                <div class="_li_bottom box">
                    <div class="flex-1">
                        <div class="_color01">305</div>
                        <div>需积分</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color02">295</div>
                        <div>已参与</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color03">295</div>
                        <div>剩余</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="lottery_li">
            <div class="lottery_li_left left"></div>
            <div class="lottery_li_right left">
                <div class="_li_top">
                    <div>公益活动献爱心</div>
                    <div>为孤寡老人口腔护理献爱心为孤寡老人口腔护理献爱心</div>
                </div>
                <div class="_li_bottom box">
                    <div class="flex-1">
                        <div class="_color01">305</div>
                        <div>需积分</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color02">295</div>
                        <div>已参与</div>
                    </div>
                    <div class="flex-1">
                        <div class="_color03">295</div>
                        <div>剩余</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="footer box">
    <div class="flex-1 footer_list">
        <div class="footer_bg01_active"></div>
        <div>蓝鲟</div>
    </div>
    <div class="flex-1 footer_list">
        <div class="footer_bg02"></div>
        <div>走进蓝鲟</div>
    </div>
    <div class="flex-1 footer_list">
        <div class="footer_bg03"></div>
        <div>我的</div>
    </div>
</div>
</body>
</html>
<script src="../js/jquery.js"></script>
<script src="../js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper01 .swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 0,
        centeredSlides: true,
        loop: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>