<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>积分活动</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/integral.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">积分活动</div>
    <div class="heade_back">返回</div>
</div>
<div class="integral_banner"></div>
<div class="buy_credits">
    <div class="buy_credits_bg"></div>
    <div class="buy_credits_cont">
        <div class="buy_credits_cont_01">4896</div>
        <div class="buy_credits_cont_02">蓝鲟会员积分</div>
        <div class="buy_credits_cont_03">购买积分</div>
        <div class="buy_credits_cont_04">获取积分途径：1）邀请好友获取，每邀请一位好友可获取10个积分；2）购买积分，一元可换取10个积分。</div>
    </div>
    <div class="chain_L"></div>
    <div class="chain_R"></div>
</div>
<div class="integral_tab box">
    <div class="flex-1 integral_tab01">
        <div class="integral_tab_bg01"></div>
        <div>即将揭晓</div>
    </div>
    <div class="flex-1 _color integral_tab02">
        <div class="integral_tab_bg02 integral_tab_bg02_active"></div>
        <div class="">往期抢购</div>
    </div>
</div>
<ul class="integral_ul">
    <li class="integral_li">
        <div class="integral_li_bg left"></div>
        <div class="integral_li_cont left">
            <div class="_li_cont_head">世界爱牙日整形牙齿美白护龈</div>
            <ul class="_li_cont_ul">
                <li class="_li_cont_li">第233期</li>
                <li class="_li_cont_li">总需200人次</li>
                <li class="_li_cont_li">获奖者：空中飞舞的帆船</li>
                <li class="_li_cont_li">幸运号：10000005</li>
                <li class="_li_cont_li">揭晓时间：2017-10-16-18:27:33 </li>
            </ul>
        </div>
    </li>
    <li class="integral_li">
        <div class="integral_li_bg left"></div>
        <div class="integral_li_cont left">
            <div class="_li_cont_head">世界爱牙日整形牙齿美白护龈</div>
            <ul class="_li_cont_ul">
                <li class="_li_cont_li">第233期</li>
                <li class="_li_cont_li">总需200人次</li>
                <li class="_li_cont_li">获奖者：空中飞舞的帆船</li>
                <li class="_li_cont_li">幸运号：10000005</li>
                <li class="_li_cont_li">揭晓时间：2017-10-16-18:27:33 </li>
            </ul>
        </div>
    </li>
    <li class="integral_li border_none">
        <div class="integral_li_bg left"></div>
        <div class="integral_li_cont left">
            <div class="_li_cont_head">世界爱牙日整形牙齿美白护龈</div>
            <ul class="_li_cont_ul">
                <li class="_li_cont_li">第233期</li>
                <li class="_li_cont_li">总需200人次</li>
                <li class="_li_cont_li">获奖者：空中飞舞的帆船</li>
                <li class="_li_cont_li">幸运号：10000005</li>
                <li class="_li_cont_li">揭晓时间：2017-10-16-18:27:33 </li>
            </ul>
        </div>
    </li>
</ul>
<div class="footer box">
    <div class="flex-1 footer_list">
        <div class="footer_bg01"></div>
        <div>蓝鲟</div>
    </div>
    <div class="flex-1 footer_list">
        <div class="footer_bg02"></div>
        <div>走进蓝鲟</div>
    </div>
    <div class="flex-1 footer_list">
        <div class="footer_bg03"></div>
        <div>我的</div>
    </div>
</div>
</body>
</html>
<script src="../js/jquery.js"></script>
<script>
    $(function(){
        $('.integral_tab01').on('click',function(){
            $(this).addClass('_color').siblings().removeClass('_color');
            $('.integral_tab_bg01').addClass('integral_tab_bg01_active');
            $('.integral_tab_bg02').removeClass('integral_tab_bg02_active');
        });
        $('.integral_tab02').on('click',function(){
            $(this).addClass('_color').siblings().removeClass('_color');
            $('.integral_tab_bg02').addClass('integral_tab_bg02_active');
            $('.integral_tab_bg01').removeClass('integral_tab_bg01_active');
        })
    })
</script>