<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>预约信息</title>
    <script src="../js/common.js"></script>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/reserve_information.css" />
</head>
<body>
<div class="heade">
    <div class="heade_text">预约信息</div>
    <div class="heade_back">返回</div>
</div>
<ul class="infor_ul">
    <li class="infor_li">
        <div class="left infor_li_div">挂号科室</div>
        <div class="left infor_li_input">口腔科门诊</div>
    </li>
    <li class="infor_li">
        <div class="left infor_li_div">科室区域</div>
        <div class="left infor_li_input">门诊楼17诊室</div>
    </li>
    <li class="infor_li">
        <div class="left infor_li_div">挂号医师</div>
        <div class="left infor_li_input">张是之</div>
    </li>
    <li class="infor_li">
        <div class="left infor_li_div">就诊日期</div>
        <div class="left infor_li_input">2017-10-11 上午</div>
    </li>
    <li class="infor_li">
        <div class="left infor_li_div">挂号费用</div>
        <div class="left infor_li_input infor_li_input_color">￥35</div>
    </li>
    <li class="infor_li margin_top">
        <div class="left infor_li_div">就诊人</div>
        <div class="left infor_li_input infor_li_people">添加就诊人</div>
        <div class="right infor_li_input_bg"></div>
    </li>
</ul>
<div class="infor_btn">立即预约</div>
</body>
</html>